{% extends "layout.html" %}

{% block body %}

    <div class="page">
        <h1>PESQUISAR</h1>
        <form action="/search2" method="get">
            <p>Edição</p>
            <select name="edicao">
            <option value="%%" selected>Todas</option>
            {% for edicao in edicoes %}
                    <option value="{{ edicao.edicao }}">{{ edicao.edicao }}</option>
            {% endfor %}
            </select>
            <p>Ano</p>
            <select name="ano">
            <option value="%%" selected>Todos</option>
            {% for ano in anos %}
                    <option value="{{ ano.ano }}">{{ ano.ano }}</option>
            {% endfor %}
            </select>
            <p>Apresentador</p>
            <select name="apresentador">
            <option value="%%" selected>Todos</option>
            {% for apresentador in apresentadores %}
                    <option value="{{ apresentador.apresentador }}">{{ apresentador.apresentador }}</option>
            {% endfor %}
            </select>
            <p>Vencedor</p>
            <input autofocus name="vencedor" placeholder="Vencedor" type="text">
            <br></br>
            <input type="submit" value="Pesquisar">
        </form>
    </div>

{% endblock %}