{% extends "layout.html" %}

{% block body %}

<div class="page">
    <h1>Selecione os arquivos que você dejesa explorar</h1>
    <form action="/searchparticipantes" method="get">
        <input type="submit" value="Participantes">
    </form>
    <form action="/searchedicoes" method="get">
        <input type="submit" value="Edições">
    </form>
    <form action="/searchparedoes" method="get">
        <input type="submit" value="Paredões">
    </form>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
</div>


{% endblock %}